.splash-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.splash-screen .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 412px;
  height: 917px;
  position: relative;
}

.splash-screen .overlap {
  position: absolute;
  width: 1011px;
  height: 1011px;
  top: -295px;
  left: -300px;
  border-radius: 505.5px;
}

.splash-screen .frame {
  position: absolute;
  width: 1px;
  height: 12px;
  top: 784px;
  left: 488px;
}

.splash-screen .ellipse {
  position: absolute;
  width: 1011px;
  height: 1011px;
  top: 0;
  left: 0;
  background-color: #f2ede4;
  border-radius: 505.5px;
}

.splash-screen .vector {
  position: absolute;
  width: 412px;
  height: 217px;
  top: 295px;
  left: 300px;
}

.splash-screen .haathbaat-logo {
  position: absolute;
  width: 412px;
  height: 412px;
  top: 548px;
  left: 300px;
  object-fit: cover;
}

.splash-screen .text-wrapper {
  position: absolute;
  width: 272px;
  top: 872px;
  left: 370px;
  font-family: "Commissioner", Helvetica;
  font-weight: 400;
  color: #123047;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.splash-screen .bars-status-on-light {
  position: absolute;
  width: 412px;
  height: 47px;
  top: 295px;
  left: 300px;
}

.splash-screen .battery {
  position: absolute;
  width: 27px;
  height: 12px;
  top: 19px;
  left: 369px;
}

.splash-screen .overlap-group {
  position: absolute;
  width: 24px;
  height: 12px;
  top: 0;
  left: 0;
  border-radius: 2.83px;
  border: 1.06px solid;
  border-color: #ffffff59;
}

.splash-screen .capacity {
  position: relative;
  width: 20px;
  height: 8px;
  top: 1px;
  left: 1px;
  background-color: #ffffff;
  border-radius: 1.42px;
}

.splash-screen .cap {
  position: absolute;
  width: 1px;
  height: 4px;
  top: 4px;
  left: 25px;
}

.splash-screen .wifi {
  position: absolute;
  width: 17px;
  height: 12px;
  top: 19px;
  left: 347px;
}

.splash-screen .cellular-connection {
  position: absolute;
  width: 19px;
  height: 11px;
  top: 19px;
  left: 323px;
}

.splash-screen .time-style {
  position: absolute;
  width: 61px;
  height: 20px;
  top: 15px;
  left: 23px;
}

.splash-screen .time {
  position: absolute;
  width: 59px;
  top: 0;
  left: 0;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15.9px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: normal;
}

.splash-screen .iphone-x-home-wrapper {
  position: absolute;
  width: 803px;
  height: 803px;
  top: 779px;
  left: -196px;
  background-color: #25a5a9;
  border-radius: 401.5px;
}

.splash-screen .iphone-x-home {
  position: relative;
  width: 412px;
  height: 34px;
  top: 104px;
  left: 196px;
}

.splash-screen .line {
  position: relative;
  width: 135px;
  height: 5px;
  top: 21px;
  left: 138px;
  background-color: #ffffff;
  border-radius: 100px;
}
